.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  @include mobile {
    width: $breakpoint-mobil;
  }
  @include tablet {
    width: $breakpoint-tablet;
  }
  @include desktop {
    width: $breakpoint-desktop;
  }
}
