.logo {
  display: inline-block;
  font-family: var(--logo-font-family);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  color: var(--first-color);
  @include desktop {
    font-size: 26px;
    line-height: 1.19;
  }
}
.logo--accent-color {
  color: var(--accent-color);
}
