.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  background: rgba(0, 0, 0, 0.2);
  transition: opacity var(--hover-focus-duration) cubic-bezier(0.4, 0, 0.2, 1),
    visibility var(--hover-focus-duration) cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-window {
  position: absolute;
  left: 50%;
  top: 50%;
  display: flex;
  align-items: center;
  width: calc(100vw - 30px);
  height: calc(100% - 30px);
  max-width: 450px;
  max-height: 609px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--hover-focus-duration) cubic-bezier(0.4, 0, 0.2, 1);
  @include desktop {
    max-width: 528px;
    max-height: 592px;
  }
}
.modal-windows__icon-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;

  background-color: transparent;
  transition: fill var(--hover-focus-duration) cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}
.backdrop.is-hidden .modal-window {
  transform: translate(-50%, -50%) scale(5);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
