.advatages__icon-cont {
  height: 120px;
  margin-bottom: var(--standart-gap);

  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--our-team-background);
  border-radius: 4px;
}
.advatages__title {
  margin-bottom: 10px;
  font-size: inherit;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
.advatages__text {
  line-height: 1.71;
  color: var(--second-color);
}
