:root {
  --first-color: #212121;
  --second-color: #757575;
  --logo-color: #000000;
  --accent-color: #2196f3;
  --color-darkback: #ffffff;
  --background-color: #ffffff;
  --hero-footer-back: #2f303a;
  --filter-btn: #f5f4fa;
  --our-team-background: #f5f4fa;
  --hero-btn-focus: #188ce8;
  --btn-active: #188ce8;
  --hero-bg-color: #c4c4c4;
  --standart-gap: 30px;
  --icon-color: #afb1b8;
  --icon-color-hover: #ffffff;
  --hover-focus-duration: 250ms;
  --main-font-family: 'Roboto', sans-serif;
  --logo-font-family: 'Raleway', sans-serif;
}
